.c-tab {
  display: none;
  overflow: auto;

  &.active {
    display: block;
  }
}

.c-tabs {
  margin-top: 4rem;

  &__menu {
    display: flex;
    justify-content: flex-start;
    border-bottom: 1px solid #dea935;

    & button {
      padding: 0.75em 1em;
      font-size: 0.825rem;
      background-color: transparent;
      margin-right: 0.5rem;
      border: 1px solid #d6d6d6;
      color: #888;
      cursor: pointer;
      margin-bottom: -1px;
      border-radius: 0;
      text-transform: uppercase;
      letter-spacing: 3px;
      border-bottom: none;
      outline: none;
      line-height: 1;
      transition: color 200ms ease, background-color 200ms ease;

      &:hover {
        color: #dea935;
      }

      &.active {
        background-color: #dea935;
        color: #fff;
        pointer-events: none;

        &:hover {
          color: #fff;
        }
      }

      &:focus {
        border: 1px solid #dea935;
      }
    }
  }

  &__wrapper {
    position: relative;
  }
}
