.c-table {
  box-sizing: content-box;
  width: 100%;
  border-collapse: collapse;
  font-size: inherit;

  & th {
    background: #f0f0f0;
    font-size: 0.875em;
    font-weight: 400;
    color: #474443;
    line-height: 3.5em;
  }

  & tr {
    border-bottom: 1px solid #eeeded;
    position: relative;

    &:hover {
      opacity: 1;
      cursor: pointer;
      background-color: rgba(243, 243, 243, 0.432);
    }
  }

  & td {
    padding: 4px 8px;
    font-size: 0.875em;
    font-weight: 400;
    color: #474443;
    text-align: center;
    vertical-align: middle;
    text-decoration: none;

    & p {
      line-height: 1;
    }

    & a {
      text-decoration: none;
      color: inherit;

      &:hover {
        opacity: 1;
      }
    }

    & i {
      margin-top: 9px;
    }
  }
}
