.c-table {
  box-sizing: content-box;
  width: 100%;
  border-collapse: collapse;

  & th {
    background: #f0f0f0;
    font-size: 0.875rem;
    font-weight: 400;
    color: #474443;
    line-height: 3.5em;
  }

  & tr {
    border-bottom: 1px solid #eeeded;
  }

  & td {
    padding: 4px 8px;
    font-size: 0.875rem;
    font-weight: 400;
    color: #474443;
    text-align: center;
    vertical-align: middle;

    & p {
      line-height: 1;
    }

    & a {
      width: 25px;
      height: 35px;
      display: inline-block;

      &:hover {
        opacity: 0.8;
      }
    }
  }
}
