#choose {
  position: relative;
  margin-top: -100px;

  @media (max-width: 599px) {
    margin-top: -10px;
  }

  &::before {
    content: "";
    background: url(../images/choose.png) no-repeat center;
    background-size: contain;
    position: absolute;
    top: -5vw;
    right: -30vw;
    width: 70vw;
    height: 70vw;
    z-index: -1;
  }

  .wp-block-group {
    padding: 35px;
    max-width: 800px;

    @media (min-width: $laptop) {
      margin-left: auto;
      margin-right: 45%;
    }
  }

  h2 {
    position: relative;

    &::after {
      content: "";
      position: absolute;
      height: 1px;
      width: 40vw;
      background-color: $color-yellow;
      right: 105%;
      top: 15px;

      @media (min-width: $tablet) {
        top: 2vw;
      }
    }
  }

  .slider {
    margin: 20px 0 100px;
    transform: translateX(10vw);
    position: relative;

    &::before {
      content: "";
      position: absolute;
      top: -60px;
      left: 40vw;
      width: 100vw;
      bottom: -60px;
      background-color: $color-yellow;
      z-index: -1;
    }

    img {
      width: 100%;
    }
  }

  .slider-buttons {
    position: absolute;
    right: 61vw;
    bottom: -50px;
    width: 120px;
    height: 50px;
    z-index: 99999999999999999999;
    display: flex;
    // display: none;
  }

  .slider-button-prev,
  .slider-button-next {
    background: no-repeat center;
    width: 50px;
    height: 50px;
    cursor: pointer;
    background-color: #fff;
    transition: 0.3s;
  }

  .slider-button-prev {
    background-image: url(../images/prev.png);
    margin-right: 20px;

    &:focus,
    &:hover {
      background-color: $color-yellow;
    }
  }

  .slider-button-next {
    background-image: url(../images/next.png);

    &:focus,
    &:hover {
      background-color: $color-yellow;
    }
  }
}
