#contact {
  margin-top: 4vw;
  position: relative;

  &::before {
    content: "";
    background: url(../images/contact.png) no-repeat center;
    background-size: contain;
    position: absolute;
    top: -5vw;
    left: -11vw;
    width: 70vw;
    height: 45vw;
    z-index: -1;
  }

  .wp-block-columns {
    max-width: 1140px;
    margin: 0 auto;
  }

  .wp-block-column {
    text-align: center;
  }

  .tagline {
    margin-top: 100px;
    position: relative;

    &::before {
      content: "";
      position: absolute;
      height: 57px;
      width: 1px;
      background-color: $color-yellow;
      left: 50%;
      top: -80px;
    }
  }

  .wp-block-separator {
    background-color: $color-yellow;
    width: 92px;
    height: 1px;
    border: none;
    margin: 40px auto;
  }
}
