.l-flats {
  padding: 6rem 0;
  min-height: 30vh;
  font-size: 1rem;

  @media all and (max-width: 768px) {
    font-size: 0.825rem;
  }
}

.l-flats-floors {
  position: relative;
  min-height: 30vh;
}

.c-floor {
  display: flex;
  flex-wrap: wrap;
  width: 100%;

  &__plan {
    flex: 1 0 400px;
    margin-bottom: 2rem;
    overflow: hidden;

    a {
      cursor: zoom-in;
    }

    & img {
      display: block;
      width: 100%;
      height: auto;
    }
  }

  &__table {
    flex: 1 0 500px;
    font-size: 0.825rem;
    padding-left: 1.5rem;
    // overflow: auto;

    @media all and (max-width: 768px) {
      padding-left: 0;
    }
  }
}

.c-flat-form {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin: 1rem 0;
}
