#photos {
  position: relative;

  &::before {
    content: "";
    background: #f2f2f2;
    position: absolute;
    top: 8vw;
    left: -35vw;
    width: 100vw;
    height: 13vw;
    z-index: -1;
  }

  figure {
    margin: 0;
  }
}
